
{%block body%}

<div style='float:left'>
<form method="POST" action="/login1"   >
 {% csrf_token %} 
  <fieldset> 
  <div class="container">
    
    <p style='margin-top:0px'><h1>Please fill in this form to create an account.</h1></p>
    <hr>

    <label for="username"><b>UserName</b></label>
    <input type="text" placeholder="UserName" name="UserName" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="Email" required>

    
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="Password" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="Password-repeat" required>

    <div class="clearfix">
      <button type="button" class="cancelbtn" onclick="closeForm()">Cancel</button>
      <button type="submit" class="signupbtn">Submit</button>
    </div>

  </div>

 </fieldset>

 </form>
 </div>

 <style>
  /* background for body*/
  body{
      background-image:url('./static/loginpage.jpg');
      background-size: cover ;
      background-position: right;
  }
  
  * Bordered form */
  form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 100%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  /*css for fieldset to make it in the left*/
  fieldset{
     
      box-sizing: border-box;
      padding-top: 25px;
      padding-bottom:25px;
      padding-left: 25px;
      padding-right: 25px;
      width:500px;
      background: rgba(255, 255,255, 0.6);
  }
  </style>
{%endblock body%}

