<!DOCTYPE html>
 <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/template.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


      <style>
.image
{
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
}


.background{
   background-color: #003366;
   color:white;

}
hr{
  height: 5px;
}
h6 {
  color:#ccffff;
  display: inline-block;
}
.removeTemplate{
  display:none; /*c8*/
}



          .styleGoback1{
  color:rgba(8, 1, 6, 0.548) ;
  padding: 10px 25px;
  font-weight:bold ;
  font-size: 16px;
  background: #009900;

  border:3px solid #006600;
  border-radius: 35px;
  outline: none;
  cursor: pointer;
  margin-bottom: 1%;
}

      .styleGenerate{
  color:rgba(8, 1, 6, 0.548) ;
  padding: 10px 25px;
  font-weight:bold ;
  font-size: 16px;
  background:#3366cc ;

  border:3px solid  #000099;
  border-radius: 35px;
  outline: none;
  cursor: pointer;
  margin-top: 5%;
  margin-left: 70%;

}

      </style>

  </head>
  <body>


    <div class=container>
    <a href="/resume4"><button class="styleGoback1"> Go Back</button></a>
    <button id="hideTemplate" class="styleGenerate" onclick="generateResume1();  generateResume3(); generateResume4(); generateResume2()">Generate</button>
  <!--c7-->


    <!-- cv template -->
  <!--c9-->  <div class="container removeTemplate" id="cv-template" >
      <div class="row">
      <div class="col-md-4 py-3 background">
        <img id="imgT"src="https://i.pinimg.com/474x/65/25/a0/6525a08f1df98a2e3a545fe2ace4be47.jpg" alt="profile pic" class="img-fluid image">

        <div class=" px-1">
          <h5>PERSONAL INFO</h5>
          <span>
          <i class="fas fa-map-marker-alt"></i>
          </span>
          <h6>Address</h6><br><!--c2-->
          <span id="cityT">Banaras</span>,<span id="pinCodeT">638833</span>,<span id="stateT">UP</span>
          <br /><span class="icon">
                         <i class="fas fa-mobile-alt"></i>
                       </span>
          <h6>PHONE NO.</h6><br />
          <span id="phoneNoT">236273637</span><br />
          <span class="icon">
             <i class="fas fa-envelope"></i>
           </span>
          <h6>EMAIL</h6><br />
          <p ><span id="emailT">name@gmail.com</span></p><br />
          <h6 class="socialWebsiteT">LinkedinId</h6>

          <!--<h6>GITHUB ACCOUNT</h6>
          <p>name mygit.git/hub.com</p> -->
          <hr>
          <h6>SKILLS</h6>
          <p><ul>
            <li class="skillsT">competitive coding</li>
            <!--<li>web development</li> -->
          </ul></p>
          <hr>
          <h6>LANGUAGE/FRAMEWORK</h6>
          <p><ul><!--c3-->
            <p><span class="codeT">c language</span>
           <!--    <span class="rateT">advance</span></p>-->



            <!--<li>Java</li>
            <li>bootstrap</li>
            <li>javascript</li> -->
          </ul></p>
          <hr>
          <h6>HOBBIES</h6>
          <p><ul>
            <li class="hobbiesT">Singing</li>
            <!-- <li>Travelling</li> -->


          </ul></p>
          <hr>


        </div>


      </div>
      <div class="col-md-8 py-3 text-center">
        <h1><span id="firstNameT">MY</span> <span id="lastNameT"> NAME</span></h1>
        <hr>
        <div class="card">
          <div class="card-header background">
            <h4>ACADEMIC QUALIFICATION</h4>
          </div>
          <div class="card-body"></div>
          <h5>Intermediate</h5>
            <p>
              <span id="schoolNameT">dav</span>,<span id="citysT">gaya</span>,<span id="statesT">bihar</span>,<span id="schoolYearT">2020</span>(passout)
            </p>

            <h5>Graduation</h5>
            <p>
              <span id="collegeNameT">dav</span>,<span id="citycT">gaya</span>,<span id="statecT">bihar</span>,batch-(<span id="collegeYearT">2020</span>),course-<span id="courseT">btech</span>
            </p>

            <!--<li><h6>Masters</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></li>
          </ul></P>-->
        </div>
        <div class="card">
          <div class="card-header background">
            <h4>ACHIEVEMENTS</h4>

          </div>
          <div class="card-body"></div>
          <ul><li>
            <p class="achT" >Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </li>
          <!--<li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></li>-->

          </ul>
        </div>
        <div class="card">
          <div class="card-header background">
            <h4>EXPERIENCE</h4>

          </div>
          <div class="card-body"></div>
          <ul><li>
            <p class="expT">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </li>
          <!--<li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></li>-->

        </ul>
        </div>
        <div class="card">
          <div class="card-header background">
            <h4>PROJECTS</h4>

          </div>
          <div class="card-body"></div>
          <ul><li>
            <p class="proT">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </li>
          <!--<li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></li>-->

        </ul>
        </div>
        <div class="container text-center mt-5">
        <button id="print"class="btn background">PRINT</button>

        </div>







      </div>

    </div>
  </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous">
    </script>
    <script src="./static/javascript/template.js"></script>
    <script src="./static/javascript/resume1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  </body>
</html>
